{% extends 'base.html' %}
{% block title_name %}
Скачай друга
{% endblock %}



{% block download %}


    <main>
        <section class="top-slide">
            <div class="top-container">
                <div><h2><a href="/cat">КОТИК?</a></h2></div>
                <div><h2><a href="/dog">СОБАЧКА?</a></h2></div>
                <div><h2><a href="/fox">ЛИСИЧКА?</a></h2></div>
                <div><p>Если вам стало одиноко</p></div>
                <div><p>Скачайте милого питомца</p></div>
            </div>

        </section>

    </main>
{% endblock %}