<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<style type="text/css">
    .download{
    margin-top: 35px;
}

.download img{
   width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

h3{
    display: block;
    text-align: center;
    margin-top: 20px;
}
</style>

    <h3><a href="/history">Назад</a></h3>
    <div class="download">
        <img src="/static/downloads/{{uuid}}">
    </div>

 <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous">
    </script>
</body>
</html>